<h1>Examples</h1>

<ul>
  <li>Chapter 1</h1>
  <ul>
    <li><a href="https://github.com/pipefishbook/ch_1">Basic setup of an application stack</a></li>
  </ul>
  <li>Chapter 2</h1>

  <ul>
    <li><a href="https://github.com/pipefishbook/ch_2/tree/master/start">Empty Application</a></li>
    <li><a href="https://github.com/pipefishbook/ch_2/tree/master/browserify">Browserify</a></li>
  </ul>
  <li>Chapter 3</h1>
  <li>Chapter 4: <a href="/ch_4">Examples of routes and layout</a> (<a href="https://github.com/pipefishbook/ch_4"> source </a>) </li>
</ul>
