<ul>
  <li><a href="#toc">The Book</a></li>
  <li><a href="#examples">Examples</a></li>
  <li><a href="http://backbone-like.herokuapp.com">Munich Cinema (demo)</a></li>
  <li><a href="#references">Further References</a></li>
  <li><a href="#about">About</a></li>
</ul>
