    <h2 id="downloads">
      Libraries: 
    </h2>

    <h3>Browser MVC</h3>
    <ul>
        <li><a href="http://backbonejs.org">Backbone.js</a></li>
        <li><a href="http://underscorejs.org">Underscore.js</a></li>
    </ul>


    <h3>Browser MVC</h3>
      <tr>
        <td><a href="https://github.com/sstephenson/stitch">Stitch</a></td>
        <td><a href="https://github.com/clarkdave/connect-mincer">Mincer-connect</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/jmorrell/backbone.obscura">Backbone.Obscura</a></td>
      </tr>
      <tr>
        <td><a href="http://gruntjs.com/">Grunt</a></td>
        <td><a href="https://github.com/yeoman">Yeoman</a></td>
      </tr>
      <tr>
      <td><a href="https://github.com/sstephenson/eco">ECO</a></td>
      </tr>
      <tr>
        <td><a href="http://bower.io/">Bower</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/rotundasoftware/backbone.collectionView">CollectionView</a></td>
      </tr>
      <tr>
        <td><a href="http://thoraxjs.org/">Thorax</a></td>
      </tr>
  	</td>
	</table>

